/*Container*/
.program-container {
	width: 255px;
	min-height: 255px;
	background-color: white;
	border: 2px solid #e6e6dd;
	margin-right: 20px;
	border-radius: 3px;
	-webkit-box-shadow: 0px 4px 3px 0px rgba(228,228,221,1);
	-moz-box-shadow: 0px 4px 3px 0px rgba(228,228,221,1);
	box-shadow: 0px 4px 3px 0px rgba(228,228,221,1);
}

/*Header*/
.program-header-container{
	display: flex;
	padding: 1.25em 1.25em 0;
	margin-bottom: 23px;
}

.pencil-image-container {
	background-color: #fcfcfa;
	background-image: url(/assets/pencil_icon-dark.png);
	background-repeat: no-repeat;
	background-position: center;
	border: 1px solid #f4f4f2;
	margin-left: auto;
	width: 25px;
	height: 25px;
	display: inline-block;
}

.pencil-image-container:hover {
	background-image: url(/assets/pencil_icon-light.png);
}

/*Sales Chart*/
.chart-container {
	text-align: center;
	padding: 0 1.25em;
}

.chart-header {
	text-align: left;
	color: #bebeb5;
	font-size: 1em;
}

.chart-container img {
	margin-bottom: 8px;
}

/*Total sales section*/
.sales-container {
	background-color: #fbfbf6;
	border-top: 2px solid #f5f5eb;
	border-bottom: 2px solid #f5f5eb;
	display: flex;
	padding: .75em 1.25em .2em;
	color: #bebeb5;
}

.sales-header {
	padding: 0px;
	font-size: 0.8em;
	margin-right: 15px;
}

.sales-num-container {
	display: flex;
	justify-content: space-around;
	width: 100%;
	text-align: center;
	font-size: 0.8em;
}

.sales-num-headers {
	margin-bottom: 0.5em;
}

.sales-num-current .sales-num-headers {
	text-align: left;
}

.sales-num-current p {
	color: #58584f;
	font-weight: 600;
	margin-right: 5px;
}

/*Pricing detail section*/
.pricing-container {
	padding: .75em 1.25em 0em;
	text-align: left;
	color: #bebeb5;
	font-size: 0.75em;
}

.price-name-item {
	font-weight: 600;
	color: #828272;
	font-size: 1em;
	text-overflow: ellipsis;
	max-width: 92px;
	white-space: nowrap;
	overflow: hidden;
}

.price-current-item {
	padding-left: 15px;
}

.pricing-table-header th:nth-child(2){
	padding: 0px 20px 0px 15px;
}

.pricing-table-header th:nth-child(3) {
	text-align: center;
}


/*Toggle*/
.toggle-copy {
	/*padding: 0.5em 1.25em;*/

	padding: 0.5em 1.25em;
	color: #bebeb5;
	border: none;
	background-color: #fff;
	font-size: .7em;
}

/*Medium and small*/
@media only screen and (max-width:1024px) {
	.program-container {
		margin-right: 0px;
		margin-bottom: 20px;
	}
}