header {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  background-color: #ecf7f2;
  flex-shrink: 0;
}

.header-logo-container {
  flex: 1 0 auto;
  border-bottom: 1px solid #cbe3d7;
}

.header-logo {
  display: inline-block;
  margin: 11px 0px 11px 16px;
}

.header-nav {
  flex-shrink: 0;
  border-bottom: 1px solid #cbcfd1;
}


/*Navigation*/
nav ul {
  padding: 0px;
  margin: 0px;
}
nav > ul > li {
  list-style-type: none;
  display: inline-block;
  background: linear-gradient(to bottom, rgb(255, 255, 255) 0%, rgb(239, 243, 242) 100%);
  padding: 14px 20px;
  border-top: 1px solid #cbcfd1;
  color: #709582;
  font-weight: 600;
  font-size: 1em;
  letter-spacing: 1px;
  position: relative;
}

nav > ul > li:hover {
  color: #37444e;
}

nav > ul > li:last-child {
  padding: 14px 40px 14px 25px;
}

nav > ul > li::after {
  content: "";
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1px;
  height: 100%;
  background: linear-gradient(to bottom, rgb(255, 255, 255, 0), rgb(197, 197, 197) 50%, rgb(255, 255, 255, 0));
}

/*selected tab and subnavigation*/
.selected-tab {
  z-index: 1;
  color: #37444e;
  background: #fff;
  border-top: #b6c2c5 solid 1px;
  border-left: #b6c2c5 solid 1px;
  border-right: #b6c2c5 solid 1px;
  border-radius: 3px 3px 0px 0px;
  padding: 14px 28px;
  transform: scale(1.1) translate(-5px);
  box-shadow: 
    -5px 0px 5px -5px rgba(197,197,197,1),
    5px 0px 5px -5px rgba(197,197,197,1);;
}

.subnav-background{
  background-color: white;
  height: 50px;
  display: block;
  flex-shrink: 0;
  border-bottom: 1px solid #d9d9d0;
}

.sub-nav-content {
  position: absolute;
  left: -250px;
  top: 50px;
  min-width: 700px;
  background-color: #fff;
  padding: 5px;
}

.sub-nav-content li{
  background: #fff;
  display: inline-block;
  color: #737373;
  padding: 5px 15px;
  letter-spacing: normal;
}

.sub-nav-content li:hover{
  color: #5e5e5e;
}

li.selected-tab-item > a {
  color: #5e5e5e;
  font-weight: 900
}

/*Mobile and tablet menu*/

.header-nav-mobile {
  display: none;
  margin-left: auto;
  margin-right: 20px;
}

@media only screen and (max-width: 1157px){
  .header-nav {
    display: none;
  }

  .header-nav-mobile {
    display: inline-block;
  }

  .subnav-background{
    display: none;
  }
}
