@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');

body {
  margin-left: auto;
  margin-right: auto;
  font-family: 'Nunito', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-width: 1920px;
  background-color: #fff;
  height: 100%;
}

html {
	height: 100%;
	font-size: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root {
  height: 100%;
}
